@media screen and (max-device-width: 786px), screen and (max-width: 786px)
{
    #Stage_jbeeb_3
    {
        margin: auto;
        float: none !important;
    }
}

#infoSection ul
{
    list-style-type: none;
}

#infoSection .content a
{
    font-size: 30px;
}

#infoSection .green
{
    color: greenyellow !important;
}

#infoSection .gray
{
    color: grey !important;
}

#map-canvas
{
    width: 100%;
    height: 280px;
    background-color: #CCC;
}
