/*.buttonSelector {
    float: left;
    margin-left: 10px;
}*/

.input-group {
    margin-bottom: 10px;
}

#buttonsSelector {
    float: right;
}

#buttonsSelector button {
    float: right;
}