@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core.Services
@using Member = umbraco.cms.businesslogic.member.Member
<section id="left-sidebar">
        
        <div class="logo">
          <a href="#intro" class="link-scroll toti"><img src="../images/NA/toti.png" alt="Casament A&N"></a>
          <a href="#intro" class="link-scroll name"><img src="../images/NA/name.png" alt="Casament A&N"></a>
        </div><!-- .logo -->

        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>
    <ul id="main-menu">
        @{
            foreach (var item in Model.Content.Descendants().Where(x => x.DocumentTypeAlias == "Item" || x.DocumentTypeAlias == "InfoGeneral"))
            {
                var identifier = "menu-item-" + item.Name;
        <li id="@identifier" class="menu-item scroll"><a href="#@item.Id">@item.Name</a></li>
            }
        }
        <br/>
        <br/>
        <br/>
        <br/>
        @{
            if (User.Identity.IsAuthenticated)
            {
                //enviar a la home privada
                <li id="menu-item-contact" class="menu-item scroll"><span class="bold">Hola @Member.GetCurrentMember().Text !</span></li>
                <li id="menu-item-contact" class="menu-item scroll text-center">
                    <u>
                        @Html.ActionLink("Tanca la sessió", "MemberUmbLogout", "SignInForm")
                    </u>

                </li>
            }
        }
        @*<li>
            <div id="getting-started"></div>
            <script type="text/javascript">
                $("#getting-started").countdown("2015/05/30", function(event) {
                    $(this).text(
                        event.strftime('%D days %H:%M:%S')
                    );
                });
            </script>
        </li>*@
    </ul><!-- #main-menu -->

</section><!-- #left-sidebar -->

