@model Casament.Models.SignInModel
@{
    ViewBag.Title = "SignInForm";
}

@{
    if (!User.Identity.IsAuthenticated)
    {
        using (Html.BeginUmbracoForm("MemberUmbLogin", "SignInForm", null, new {@class = "navbar-form navbar-left"}))
        {
            <div class="input-group">
                <span class="input-group-addon inputsWidth">Usuari</span>
                @Html.TextBox("Email", Model.Email, new {@class = "form-control", @placeholder = "Usuari"})
            </div>
            <div class="input-group">
                <span class="input-group-addon inputsWidth">Contrasenya</span>
                @Html.TextBox("Password", Model.Password, new {@class = "form-control", @placeholder = "Contrasenya", @type = "password"})
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" />
            </div>
        }
        <p>@TempData["Status"]</p>
    }
}
